@media(max-with:1440PX){


}
@media (max-width:1200px){
    .img_section_mobile_app{
        grid-row: 2;
        grid-column: 1 span;
        
    }
    .img_section_mobile_app img{
        left: 1rem;
    }
    .content_section_mobile_app{
        grid-column: 2 span;
        margin-left: 0;
        max-width: 75%;

    }
    .section_mobile_app{
        max-width: none;
        overflow: hidden;
        /* grid-template-columns: 50% 50%; */
    }

}
@media (max-width:900px){
    .content_search_location h6{
        font-size: 32px;
    }
    .content_search_location p{
        font-size: 14px;
        margin: 1rem 2rem 2rem 2rem;
    }

}
@media (max-width:834px){
    .navigation{
        display: flex;
    }
    .navigation > ul{
        display: none;
    }
    .sandwich{
        display: block;
        /* justify-self: flex-end; */
    }
    .link_navigation{
        justify-content: center;
        gap: 25px;
        /* justify-self: center; */
    }
    .header_bottom{
        margin-top: 4rem;
        gap: 10px;
        margin-left: 2rem;
        margin-right: 2rem;

    }
    .content_left_header_bottom{
        margin-top: 2rem;
    }
    .content_left_header_bottom h1{
        max-width: 100%;
        font-size: 32px;
        letter-spacing: 0%;
        margin-bottom: 0;

    }
    .content_left_header_bottom p{
        font-size: 15px;
        width: 210px;
        height: 69px;
        margin-bottom: 1rem;

    }
    .action_order{
        width: 369px;
        height: 110px;
        gap: 12px;
        justify-content: space-between;

    }
    .fixed_box_delivery{
        width: 139px;
        height: 77px;
        top: -2rem;
        left: -3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;

    }
    .fixed_box_delivery div:first-child{
        width: 91px;
        height: 36px;
        gap: 8px;
        opacity: 1;
        padding-left: 0.3rem;

    }
    .fixed_box_delivery div:first-child img{
        width: 20px;
        height: 20px;
        opacity: 1;

    }
    .fixed_box_delivery div:first-child span{
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 19px;
        line-height: 36px;

    }
    .fixed_box_delivery div:last-child span{
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        text-align: center;
        

    }
    .row_grid_food_products{
        /* grid-template-columns: repeat(2,minmax(249px,370px)); */
    }
    .img_section_mobile_app img{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    top: 25px;
    left: -1rem;
    }
    .section_mobile_app{
        gap:0;
    }
    .section_footer{
        height: 531px;
    }
    .grid_section_footer{
        grid-template-columns: 1fr 1fr;

    }
    .info_site_footer{
        margin-top: 80px;
        grid-row: 2;
        grid-column: 2 span;
        justify-self: center;
    }
    .link_footer{
        justify-self: center;
    }

}
@media (max-width:760px){
    .fixed_box_delivery{
        left:-2rem;
        top: -3rem;
    }
}
@media (max-width:676px){
    .header_bottom{
        grid-template-columns: repeat(1,1fr);
        /* margin: 4rem auto; */
    }
    .content_left_header_bottom{
        max-width: 100%;
        margin: 0 auto;
        top: 130px;
        left: 18px;
        gap: 12px;
        text-align: center;
        

    }
    .content_left_header_bottom h1{
        max-width: 100%;
        font-family: Poppins;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;


    }
    .content_left_header_bottom p{
        width: 100%;
        font-family: Poppins;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin: 1rem auto;

    }
    .content_right_header_bottom{
        margin: 0 auto;
    }
    .order_food_desktop{
        display: none;
    }
    .order_food_mobile{
        display: block;
        max-width: 100%;
        margin: 7rem auto;
    }
    .action_order>button{
        width: 155px;
        height: 46px;
    }
    .action_order>button span{
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;

    }
    .big-img{
        max-width: 100%;
        top: 319px;
        left: 83px;
        opacity: 1;
        border-width: 1px;

    }
    .fixed_box_delivery{
        left:0rem;
        top: -2rem;
    }
    .row_grid_food_products{
        /* grid-template-columns: repeat(1,minmax(249px,370px)); */
        
    }
    .section_mobile_app{
        border-radius: 500px 500px 0 0;
        -webkit-border-radius: 500px 500px 0 0;
        -moz-border-radius: 500px 500px 0 0;
        -ms-border-radius: 500px 500px 0 0;
        -o-border-radius: 500px 500px 0 0;
        width: 100%;
        
    }
    .content_section_mobile_app{
        padding: 0;
        max-width:100%;
    }
    .content_section_mobile_app h4{
        max-width: 80%;
    }
    .content_section_mobile_app p{
        max-width: 95%;
    }
    .img_section_mobile_app{
        
        grid-column: 2 span;
        justify-self: center;
        
    }
    .img_section_mobile_app img{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        left: 0px;
    }
    .content_section_mobile_app{
        margin: 6rem auto;
        text-align: center;
        width: 100%;
        align-items: center;
        justify-content: center;

    }
    .content_search_location h6{
        font-size: 20px;
    }
    .content_search_location p{
        font-size: 12px;
        margin: 1rem 2rem 2rem 2rem;
    }
    .opacity2{
        bottom: -61px;
        left: 262px;
        opacity: 0.3;

    }


}
@media (max-width:510px){
    .header_bottom{
        margin-left: auto;
        margin-right: auto ;
    }
    .link_footer{
        justify-self: flex-start;
        
    }
    .grid_section_footer{
        grid-template-columns: 5fr 6fr;

    }
}
@media (max-width:430px){
    
}
